.container {
  background-color: #060606;
  width: 100%;
  padding: 50px;
  display: flex;
  place-items: center;
  gap: 2rem;
}
.header {
  padding: 25px;
  color: #daa525;
  background-color: #202020;
}
